<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/aviso.css')}}">
    <title>Document</title>
</head>
<body>
    <br><br><br><br><br><br><br>
        <center><h1 class="aviso">Hola {{name}}, muchas gracias por comunicarte con nosotros. Nos pondremos en contacto contigo por tu correo {{email}}</h1></center>
<br><br><br><br><br>
        <center><a href="{{url_for('index')}}" class="boton-volver""">VOLVER</a></center>

</body>
</html>